body {
    color: white;
    background-color: rgb(178, 145, 203);
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 42px;
    color: #b80c84
}

p {
    font-family:'Courier New', Courier, monospace ;
    font-size: large;
}

li {
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

.intro {
    width: 600px;
    background-color: #5e3673;
    margin: 32px auto;
    padding: 16px;
    text-align: center;
}

.list {
    width: fit-content;
    margin: 48px auto;
}

